<!DOCTYPE html>
<html>
  <header>
    
  </header>
  <body>
    
    <div>
      <ul>
        <li>
          <a href="{% url 'index' %}"> home </a>
        </li>
        <li>
          <a href="{% url 'newcategory' %}"> Nueva Categoria </a>
        </li>
        <li>
          <a href="{% url 'addimage' %}"> Subir Imagen </a>
        </li>
        <li>
          <a href="{% url 'login' %}"> Login </a>
        </li>
        <li>
          <a href="{% url 'newuser' %}"> Registrarse </a>
        </li> 
        <li>
          <a href="{% url 'admin:index' %}">admin</a>
          
        </li>
      </ul>
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>
